@import url(https://fonts.googleapis.com/css?family=Nunito:400,600,700|Roboto&display=swap);
.btn{
    padding:10px 24px;
    outline:0;
    border-radius:8px;
    text-decoration:none;
    font-size:13px;
    letter-spacing:.8px;
    transition:all .3s;
    text-transform:uppercase
}
.btn:focus{
    box-shadow:none!important
}
.btn.btn-sm{
    padding:7px 16px;
    font-size:10px
}
.btn.btn-lg{
    padding:14px 30px;
    font-size:16px
}
.btn.btn-custom{
    color:#000;
    font-weight:200!important;
    background:#FAB900;
}
.btn.btn-custom.active,.btn.btn-custom:active,.btn.btn-custom:focus,.btn.btn-custom:hover{
    background-color:#FAB900;
    color:#070b0d
}
body{
    font-family:Roboto,sans-serif;
    overflow-x:hidden!important;
    font-size:15px;
    color:#535353;
    background-color: #070b0d;
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{
    font-family:Nunito,sans-serif;
    line-height:1.5;
    font-weight:600
}
::selection{
    background:#6c757d;
    color:#fff
}
a{
    text-decoration:none!important
}
p{
    letter-spacing:.3px;
    line-height:1.8
}
.section{
    padding-top:100px;
    padding-bottom:100px;
    position:relative
}
.bg-overlay{
    background-color:#192a56;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    width:100%;
    height:100%
}
.text-custom{
    color:#23d1b7
}
.bg-custom{
    background-color:#23d1b7
}
.title-heading{
    line-height:26px;
    position:relative;
    z-index:1
}
.title-heading .heading{
    font-weight:700;
    font-size:55px;
    letter-spacing:1px
}
.title-heading .para-desc{
    font-size:17px;
    font-weight:200!important
}
.section-title{
    position:relative;
    margin-bottom:40px
}
.section-title .title{
    letter-spacing:1px;
    font-size:26px;
    position:relative
}
.section-title .title:after{
    content:"";
    width:60px;
    height:2px;
    background:#e9ecef;
    position:absolute;
    bottom:-55%;
    left:0;
    right:0;
    margin:0 auto
}
.para-desc{
    max-width:700px
}
#preloader{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image:#070b0d;
    z-index:9999999
}
#preloader #status{
    position:absolute;
    left:0;
    right:0;
    top:50%;
    transform:translateY(-50%)
}
#preloader #status .sk-circle{
    margin:100px auto;
    width:40px;
    height:40px;
    position:relative
}
#preloader #status .sk-circle .sk-child{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0
}
#preloader #status .sk-circle .sk-child:before{
    content:'';
    display:block;
    margin:0 auto;
    width:15%;
    height:15%;
    background-color:#fff;
    border-radius:100%;
    animation:sk-circleBounceDelay 1.2s infinite ease-in-out both
}
#preloader #status .sk-circle .sk-circle2{
    transform:rotate(30deg)
}
#preloader #status .sk-circle .sk-circle2:before{
    animation-delay:-1.1s
}
#preloader #status .sk-circle .sk-circle3{
    transform:rotate(60deg)
}
#preloader #status .sk-circle .sk-circle3:before{
    animation-delay:-1s
}
#preloader #status .sk-circle .sk-circle4{
    transform:rotate(90deg)
}
#preloader #status .sk-circle .sk-circle4:before{
    animation-delay:-.9s
}
#preloader #status .sk-circle .sk-circle5{
    transform:rotate(120deg)
}
#preloader #status .sk-circle .sk-circle5:before{
    animation-delay:-.8s
}
#preloader #status .sk-circle .sk-circle6{
    transform:rotate(150deg)
}
#preloader #status .sk-circle .sk-circle6:before{
    animation-delay:-.7s
}
#preloader #status .sk-circle .sk-circle7{
    transform:rotate(180deg)
}
#preloader #status .sk-circle .sk-circle7:before{
    animation-delay:-.6s
}
#preloader #status .sk-circle .sk-circle8{
    transform:rotate(210deg)
}
#preloader #status .sk-circle .sk-circle8:before{
    animation-delay:-.5s
}
#preloader #status .sk-circle .sk-circle9{
    transform:rotate(240deg)
}
#preloader #status .sk-circle .sk-circle9:before{
    animation-delay:-.4s
}
#preloader #status .sk-circle .sk-circle10{
    transform:rotate(270deg)
}
#preloader #status .sk-circle .sk-circle10:before{
    animation-delay:-.3s
}
#preloader #status .sk-circle .sk-circle11{
    transform:rotate(300deg)
}
#preloader #status .sk-circle .sk-circle11:before{
    animation-delay:-.2s
}
#preloader #status .sk-circle .sk-circle12{
    transform:rotate(330deg)
}
#preloader #status .sk-circle .sk-circle12:before{
    animation-delay:-.1s
}
@keyframes sk-circleBounceDelay{
    0%,100%,80%{
        transform:scale(0)
    }
    40%{
        transform:scale(1)
    }
}
@media (max-width:767px){
    .section{
        padding:60px 0
    }
    .title-heading .heading{
        font-size:30px!important
    }
}
@media (max-width:375px){
    .section-title .title:after{
        bottom:-30%
    }
}
.navbar-custom{
    background-color:#192a56;
    padding:20px 0;
    width:100%;
    border-radius:0;
    z-index:999;
    margin-bottom:0;
    transition:all .5s ease-in-out
}
.navbar-custom .navbar-toggler{
    color:#fff;
    font-size:30px;
    padding:0
}
.navbar-custom .navbar-brand{
    color:#fff!important;
    text-transform:uppercase;
    letter-spacing:.5px;
    font-family:Nunito,sans-serif
}
.navbar-custom .navbar-brand .l-dark{
    display:none
}
.navbar-custom .navbar-brand .l-light{
    display:inline-block
}
.navbar-custom .navbar-nav li a{
    color:#fff!important;
    font-size:12.5px;
    background-color:transparent!important;
    margin:0 8px;
    letter-spacing:.8px;
    line-height:24px;
    font-weight:600;
    text-transform:uppercase;
    transition:all .5s;
    font-family:Nunito,sans-serif
}
.navbar-custom .navbar-nav li a:active,.navbar-custom .navbar-nav li a:hover{
    color:#5ff!important
}
.navbar-custom .navbar-nav li.active a{
    color:#5ff!important
}
.nav-sticky.navbar-custom{
    margin-top:0;
    padding:12px 0;
    background-color:#192a56;
    box-shadow:0 10px 33px rgba(0,0,0,.1);
    color:#29292d!important
}
.nav-sticky.navbar-custom .navbar-toggler{
    color:#fff
}
.nav-sticky.navbar-custom .navbar-nav{
    margin-top:0
}
.nav-sticky.navbar-custom .navbar-nav li a{
    color:#fff!important
}
.nav-sticky.navbar-custom .navbar-nav li a:active,.nav-sticky.navbar-custom .navbar-nav li a:hover{
    color:#23d1b7!important
}
.nav-sticky.navbar-custom .navbar-nav li.active a{
    color:#23d1b7!important
}
.nav-sticky.navbar-custom.sticky-light{
    background-color:#fff
}
.nav-sticky .navbar-brand{
    color:#29292d!important
}
.nav-sticky .navbar-brand .l-dark{
    display:inline-block
}
.nav-sticky .navbar-brand .l-light{
    display:none
}
.login-button{
    background-color:transparent;
    text-transform:uppercase;
    font-size:13px;
    color:#a5befd;
    border:1px solid #a5befd;
    font-weight:700;
    transition:all .5s;
    border-radius:0;
    padding:10px 30px;
    line-height:60px;
    border-radius:8px;
    letter-spacing:.8px
}
.login-button:hover{
    color:#a5befd
}
@media (max-width:1023px){
    .navbar-custom .nav-social{
        display:none
    }
}
@media (max-height:480px){
    .navbar-nav{
        max-height:200px;
        overflow-y:auto
    }
}
@media (min-width:200px) and (max-width:768px){
    .navbar-custom{
        background-color:#192a56;
        padding:10px 0!important
    }
    .navbar-brand .l-dark{
        display:inline-block
    }
    .navbar-brand .l-light{
        display:none
    }
    .navbar-custom .container{
        width:93%
    }
    .login-button{
        margin-left:5px!important
    }
}
.home-center{
    display:table;
    width:100%;
    height:100%
}
.home-desc-center{
    display:table-cell;
    vertical-align:middle
}
.bg-home-1{
    position:relative;
    padding:110px 0 40px 0
}
.bg-home{
    height:100vh;
    background-size:cover;
    align-self:center;
    position:relative;
    background-position:center center
}
.home-img img{
    max-height:600px;
    position:relative;
    z-index:1
}
.mover-img{
    animation:mover 1s infinite alternate
}
@keyframes mover{
    0%{
        transform:translateY(0)
    }
    100%{
        transform:translateY(-15px)
    }
}
@media (min-width:200px) and (max-width:767px){
    .bg-home,.bg-slider{
        padding:150px 0;
        height:auto
    }
    .home-img{
        text-align:center
    }
}
.social-icon li a{
    color:#535353;
    border:1px solid #535353;
    display:inline-block;
    height:34px;
    width:34px;
    text-align:center;
    transition:all .4s ease;
    border-radius:50px;
    overflow:hidden;
    position:relative
}
.social-icon li a i{
    font-size:16px;
    line-height:32px
}
.social-icon li a:hover{
    background-color:#23d1b7;
    border-color:#23d1b7!important;
    color:#fff!important
}
.social-icon.social li a{
    color:#adb5bd;
    border-color:#adb5bd
}
.list-inline-item:not(:last-child){
    margin-right:3px
}
.about-app .title{
    font-size:20px;
    font-weight:700;
    letter-spacing:.8px
}
.services .core-service .core-service-content .content{
    overflow:hidden;
    display:block
}
.services .core-service .core-service-content .content .title{
    font-size:18px;
    font-weight:700
}
.services .core-service .icon i{
    font-size:25px
}
.services .core-service .fea-right .icon{
    float:right
}
.services .core-service .fea-left .icon{
    float:left
}
.device-feature .icon img{
    height:50px
}
.device-feature .icon:before{
    content:"";
    position:absolute;
    bottom:-10px;
    right:-10px;
    width:50px;
    height:50px;
    border-radius:77% 23% 20% 80%/60% 56% 44% 40%;
    background-color:#23d1b7;
    opacity:.4;
    z-index:-2;
    transition:all .5s ease
}
.device-feature .content .title{
    font-size:18px;
    font-weight:700
}
.device-feature.device-border:after{
    content:'';
    position:absolute;
    width:60%;
    height:32px;
    top:30px;
    opacity:.4;
    left:70%;
    background:url(https://vimfinance.netlify.app/images/border.png) center center no-repeat
}
.device-feature:hover .icon:before{
    border-radius:50%;
    width:75px;
    height:75px;
    bottom:-12px;
    right:-12px
}
@media (max-width:768px){
    .services .core-service-img{
        display:block;
    }
}
@media (min-width:200px) and (max-width:767px){
    .services .core-service .fea-right{
        text-align:left!important
    }
    .services .core-service .fea-right .icon{
        float:left;
        margin-left:0!important;
        margin-right:24px
    }
    .device-feature.device-border:after{
        display:none
    }
}
.bg-counter{
    position:relative;
    padding:60px 0
}
.swiper-container{
    margin-top:50px
}
@media (max-width:1024px){
    .swiper-container{
        margin-top:30px
    }
}
.bg-cta{
    padding:100px 0
}
.bg-cta .play-btn img{
    height:80px
}
.app-download li a img{
    height:58px
}
.team-layout .content .name{
    font-size:18px
}
.contact-loader{
    display:none
}
.footer{
    padding:40px 0;
    position:relative
}
.footer p{
    color:#adb5bd
}
.back-to-top{
    z-index:99;
    position:fixed;
    bottom:20px;
    right:20px;
    width:33px;
    height:33px;
    line-height:31px;
    display:none;
    color:#fff;
    background-color:#23d1b7;
    border:1px solid #23d1b7;
    transition:all .5s ease;
    border-radius:30px;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important
}
.back-to-top i{
    font-size:16px
}
.back-to-top:hover{
    background-color:#535353;
    border:1px solid #535353;
    color:#fff
}
@media (min-width:200px) and (max-width:767px){
    .footer{
        text-align:center
    }
}
.text-primary{
    font-weight:200!important;
    color:#fff!important
}
.text-secondary{
    font-weight:200!important;
    color:#5ff!important
}
.bg-primary{
    background:#192a56!important;
}

.timeline__content {
    background-color: #192a56 !important;
    border: 1px solid #192a56 !important;
    border-radius: 10px !important;
    color: #fff !important;
    display: block;
    padding: 1.25rem;
    position: relative;
}

.timeline--horizontal .timeline__item .timeline__content:after {
    /* border-top: 10px solid #5ff !important; */
}
.timeline__item:after {
    background-color:#192a56 !important;
    border: 4px solid#fff !important;
}